.leaflet-container {
  width: 100%;
  height: 100vh;
}

.bttn {
  z-index: 999;
  position: absolute;
  top: 5px;
  right: 200px;

}

.coordinates{
  z-index: 999;
  position: absolute;
  Bottom: 5px;
  right: 210px;
  background-color: gray;
}